<div class="article">
    <div class="content">
        <div class="image">
            <img src="img/foto1.jpg" alt="Foto1">
        </div>
        <div class="info">
            <div class="stars">
                <i class="star material-icons">star</i>
                <i class="star material-icons">star</i>
                <i class="star material-icons">star</i>
                <i class="star material-icons">star</i>
                <i class="star material-icons">star</i>
            </div>
            <h2>Collar Lira gold</h2>
            <p><span class="b">Material</span> Plata de Ley 925</p>
            <p><span class="b">Acabado</span> Baño en Oro de 18k</p>
            <p><span class="b">Piedra</span> Circonita blanca tallada en estrella</p>
            <p><span class="b">Grosor de la cadena</span> 0,8 mm</p>
            <p><span class="b">Largo de la cadena</span> 40 y 45 cm (2 anclajes)</p>
            <div class="prices">
                <a class=" new-price">29,00 €   </a> 
                <a class="old-price">32,00 €</a> 
                
            </div>
            <div class="colors">
                <p>Selecciona tu color</p>
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
            <div class="size">
                <p>Selecciona tu talla</p>
                <div class="sizes">
                    <a>xs</a>
                    <a>s</a>
                    <a>m</a>
                    <a>l</a>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="row">
                <div><img src="img/foto1.1.jpg"></div>
                <div><img src="img/foto1.2.jpg"></div>
            </div>
            <div class="row">
                <div><img src="img/foto1.3.jpg"></div>
                <div><img src="img/foto1.4.png"></div>
            </div>
        </div>
        <div class="basket">
            <button class="buy">
                <h3>Añadir a la cesta</h3>
                <i class="shopping_cart material-icons">shopping_cart</i>
            </button>
            <button class="wishlist">
                <h3>Añadir a la wishlist</h3>
                <i class="favorite_border material-icons">favorite_border</i>
            </button>
            <a class="search" target="_blank" href="https://www.google.com/maps/place/La+Maquinista/@41.4408309,2.196304,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4bce983ccc79d:0x1bb197f90997cd2c!8m2!3d41.440843!4d2.198482?hl=es-ES">
                <h3>Busca la tienda </h3>
                <i class="place material-icons">place</i>
            </a>
            <div class="share">
                <img src="img/facebook.png" alt="facebook">
                <img src="img/instagram.png" alt="instagram">
                <img src="img/pinterest.svg" alt="pinterest">
                <img src="img/twitter.png" alt="twitter">
            </div>
        </div>
    </div>
</div>