<div class="contact">
    <div class="shops">
        <div class="address">
            <div>
                <h5>Talleres Terrés S.L.</h5>
                <p>Polígono Industrial Jaime I, nº: 5</p>
                <p>46450 Benifaió (Valencia)</p>
                <p>España</p>
                <p><a target="_blank" href="https://www.google.es/maps/place/Fiat+Talleres+Terr%C3%A9s+Urios/@39.2861954,-0.4343071,17z/data=!4m8!1m2!2m1!1stalleres+terres!3m4!1s0xd61b28d4711ca81:0xc5adc1c86bb28575!8m2!3d39.2874988!4d-0.4321511">
                    LOCALIZA TALLER <i class="place material-icons">place</i>
                </a></p>
            </div>
            <div>
                <h5>HORARIO</h5>
                <p>Lunes - Viernes</p>
                <p>8 am - 19 pm</p>
            </div>
        </div>
        <div class="address">
            <div>
                <h5>CORREO</h5>
                <p>hola@talleresterres.com</p>
                <p><a target="_blank" href="https://www.google.com/maps/place/La+Maquinista/@41.4408309,2.196304,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4bce983ccc79d:0x1bb197f90997cd2c!8m2!3d41.440843!4d2.198482?hl=es-ES">
                    LOCALIZA TIENDA <i class="place material-icons">place</i>
                </a></p>
            </div>
            <div>
                <h5>HORARIO</h5>
                <p>Lunes - Sábado</p>
                <p>10 am - 10 pm</p>
            </div>
        </div>
    </div>
</div>