<footer>
    <div class="web-footer">
        <div>
            <p><a>Síguenos!</a></p>
            <p><a target="_blank" href="https://www.facebook.com/Talleres-Terrés-806003576089182/">
                <img src="img/face-peq.png" width="40px" height="40px"/></a></p>
            <p><a target="_blank" href="https://www.instagram.com/talleres_terres/?hl=es">
                <img src="img/logo-insta.png" width="40px" height="40px"/></a></p>
        </div>
        <div>
            <p><a href="privacy.html">Política de privacidad</a></p>
            <p><a href="legal-notice.html">Aviso Legal</a></p>
            <p><a href="cookies.html">Uso de cookies</a></p>
        </div>
        <div>
            <img class="logo-peq" src="img/logo-footer.svg" >
        </div>
    </div>
    <div class="band">
        <p>2018 Talleres Terrés | @All rights reserved</p>
    </div>
</footer>