<div id="up"><a href="#logo"><img src="img/up.svg" ></a></div>
<footer>
    <div class="web-footer">
        <div>
            <h3>Join us!</h3>
            <p><a target="_blank" href="https://www.facebook.com/talleres.terres.9">
                <img src="img/facebook.png" width="40px" height="40px"/></a></p>
        </div>
        <div>
            <h3><a href="taller.html">Taller</a></h3>
            <p>Quiénes somos</p>
            <p>Equipo</p>
        </div>
        <div>
            <h3><a href="servicios.html">Servicios</a></h3>
            <p>Guía de tallas</p>
            <p>Cuidados</p>
            <p>Guía de compra</p>
            <p>Política y privacidad</p>
        </div>
        <div>
            <h3><a href="contacto.html">Contacto</a></h3>
            <p>Dónde estamos</p>
            <p>Horario</p>
            <p>@ All rights reserved</p>
            <p></p>
        </div>
        <div>
            <img src="img/logo-footer.png" ></a>
        </div>
    </div>
</footer>
<div class="band">
    <p>2018 Talleres Terrés | Desarrollado por Julia Peris</p>
</div>