<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="title" content="Talleres Terrés, taller multimarca y servicio oficial Fiat"/>
<meta name="description" content="Talleres Terrés, taller y reparación multimarca con servicio de mecánica, chapa y pintura. Servicio oficial Fiat, financiación a medida y vehículo de cortesía."/>
<meta name="keywords" content="taller, talleres, terres, benifaio, concesionario, fiat, coche, automovil, reparacion, mecanica, chapa y pintura, almussafes, romani, soyana, alginet"/>
<meta name="revisit-after" content="15 days"/>
<meta name="rating" content="general"/>
<meta name="author" content="Julia Peris Ferrer"/>
<meta name="owner" content="Talleres Terrés"/>
<meta name="robots" content="index, follow"/>
<link rel="stylesheet" href="style.css">
<link rel="shortcut icon" href="img/favicon.ico"/>
<link rel="icon" type="image/png" href="img/favicon.png"/>
<link rel="icon" type="image/svg+xml" href="img/icon.svg" sizes="any"/>
<script src="main.js" async></script>

