<header>
    <section>
        <div class="cabecera">     
            <a href="/" class="logo">
                <img src="img/logotipo.svg"/>
            </a>
            <div class="announcement">
                <h1>Servicio oficial</h1>
            </div>
            <div class="header-icons">
                <a target="_blank" href="https://www.fiat.es/">
                    <img  src="img/logo-fiat.svg"/>
                </a>
                <!-- 
                <a target="_blank" href="https://www.fiat.es/">
                    <img  src="img/logo-fiat-professional.png"/>
                </a>
                -->
                <div>
                    <img id="menu-button" src="img/menu.svg"/>
                </div>
            </div>
        </div>
    </section>
</header>