<main class="menu">
    <a href="index.html" class="logo">
        <img src="img/logotipo.svg"/>
    </a>
    <nav class="opciones">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="workshop.html">Taller</a></li>
            <li><a href="services.html">Servicios</a></li>
            <li><a href="contact.html">Contacto</a></li>
        </ul> 
    </nav>
    <div class="social-networks">
            <a target="_blank" href="https://www.facebook.com/Talleres-Terrés-806003576089182/">
                <img src="img/logo-face-azul.png" width="40px" height="40px"/></a>
            <a target="_blank" href="https://www.instagram.com/talleres_terres/?hl=es">
                <img src="img/logo-insta-azul.png" width="40px" height="40px"/></a>
    </div>
</main>
<!-- Fondo semitransparente para cuando se pulsa la barra de menú de tablet y movil-->
<div class="background"></div>