<main class="menu">
    <a href="index.html" class="logo">
        <img src="img/logotipo.svg"/>
    </a>
    <nav class="opciones">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="workshop.html">Taller</a></li>
            <li><a href="services.html">Servicios</a></li>
            <li><a href="contact.html">Contacto</a></li>
        </ul> 
    </nav>
</main>
<!-- Fondo semitransparente para cuando se pulsa la barra de menú de tablet y movil-->
<div class="background"></div>