<main class="menu">
    <div class="logo">
       <a href="index.html">
        <img class="logotipo" src="img/logotipo.svg" id="logo"/>
        </a>
    </div>
    <nav class="opciones">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="workshop.html">Taller</a></li>
            <li><a href="services.html">Servicios</a></li>
            <li><a href="contact.html">Contacto</a></li>
        </ul> 
    </nav>
</main>
<div class="logo">
    <img class="logo" src="img/logotipo.svg" id="logo"/>
</div>
<!-- Fondo semitransparente para cuando se pulsa la barra de menú de tablet y movil-->
<div class="background"></div>