<div class="title-service">
    <h1>Recogida y devolución de vehículo</h1>
</div>
<div class="description">
    <div class="info">
        <p>Se acabó el perder tiempo en desplazamientos, las molestias y el implicar a una tercera persona para que ejerza de chófer cuando toca la revisión de los coches de la flota. Con el servicio de entrega y recogida, ya no es necesario esperar hasta que el taller termine por no hacer un segundo viaje otro día o darse la vuelta porque no se hallaba en stock el tipo de neumático o de luna necesario.</p>
        <p>El servicio de cita previa con recogida y entrega gratuita elimina todos esos inconvenientes. Y es que, debido a la alta demanda de algunos establecimientos, o a su escaso número en algunas localidades o provincias, no es tan sencillo lograr que nos atiendan a la primera.</p>
    </div>
    <div class="video">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/aYsFb7S8LFc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>