<div class="title-service">
    <h1>Revisión oficial - ITV</h1>
</div>
<div class="description">
    <div class="info">
            <p>Hacer una pre ITV a tu vehículo es una apuesta segura que te puede hacer ganar tiempo, evitando posibles sobresaltos en la inspección oficial.Es importante que acudas a un centro de confianza para realizar una revisión integral que atienda a los siguientes elementos:
                    El estado de todos los neumáticos, incluyendo la profundidad de su dibujo.
                    En caso de que se trate de un automóvil, hay que prestar atención a elementos internos como los cinturones de seguridad; éstos deben funcionar correctamente, así como el amarre de todos los asientos. Las ventanas y puertas deben abrir y cerrar sin problemas.
                    En cuanto a elementos externos, es especialmente importante que los retrovisores, las placas de matrícula y el limpiaparabrisas estén en buen estado.
                    El nivel de ruido que provoca el vehículo no debe superar el indicado por el fabricante.
                    El sistema de dirección debe funcionar con normalidad.
                     La señalización y el alumbrado no debe tener deficiencias en ninguno de los faros, catadióptricos y otras marcas de visibilidad.</p>
            <p>Los centros especializados como Midas ofrecen un servicio de diagnóstico completo y muy pormenorizado, ya que disponen de los requerimientos necesarios para cada vehículo según su Libro de Mantenimiento.</p>
            <p>Si no estás seguro de que tu vehículo cumple con los requisitos técnicos de seguridad mínimos te recomendamos la opción expuesta. Asegúrate al 100% de que tu coche o moto está en perfecto estado antes de pasar la ITV.</p>
    </div>
    <div class="video">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/aYsFb7S8LFc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>