<div class="title-service">
    <h1>Servicio de coche de cortesía gratuito</h1>
</div>
<div class="description">
    <div class="info">
        <p>Dejar el coche en el taller y quedarnos sin él aunque sea por unas horas, puede suponernos un verdadero trastorno en nuestra tareas diarias, esto hace que muchos de nosotros retrasemos la revisión correspondiente o apuremos mucho una reparación necesaria, con tal de no quedarnos sin coche, con el peligro que eso puede suponer para nuestra seguridad.</p>
        <p>Pensando en eso, Talleres Terrés le ofrece un coche de sustitución gratis mientras hacemos la revisión o cualquier otra operación que necesite tu coche, para que puedas continuar con tu día a día.</p>
        <p>" No interrumpas tu día a día por tener que llevar tu coche al taller. "</p>
    </div>
    <div class="video">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/aYsFb7S8LFc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>