<div class="title-service">
    <h1>Servicio integral de automovil y motocicleta</h1>
</div>
<div class="description">
    <div class="info">
        <p>Talleres Terrés, le ofrece un servicio integral tanto del automóvil como de motocicletas, en nuestro establecimiento encontrará todo lo que precise su vehículo para estar en perfectas condiciones.</p>
    </div>
    <div class="video">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/aYsFb7S8LFc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>