.contact {
    margin: 0px auto;
    display: flex;
    flex-wrap: row;
    text-align: center;
    max-width: 1330px;

    .address {
        background-color: white;
        color: rgb(136, 136, 136);
        padding-bottom: 70px;

        .informacion{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: left;
            padding-left: 50px;
            padding-bottom: 20px;
    
            & > .box{
                display: flex;
                flex-direction: row;
                padding-bottom: 20px;
                align-items: center;

                .text {
                    text-align: left;
                    line-height: 20px;
                }
                .material-icons {
                    padding-right: 20px;
                    color: #73b5e0;
                }
            }
        }
    }
    & > div{
        flex-grow: 1;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;   
        width: 100%;
        align-items: center;
    }
    .address h5 {
        color: #73b5e0;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .address p {
        font-family: 'open sans', sans-serif;
        font-weight: lighter;
        letter-spacing: 0.5px;
        font-size: 15px;
        color: rgb(0, 0, 0);
    }       
    .address div{
        flex-grow: 1;
    }         
    .horario {
        background-color: gainsboro;
        box-sizing: border-box;
        padding-bottom: 70px;
    }
    .horario h5 {
        color:  #555555;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .horario h6 {
        font-family: 'open sans', sans-serif;
        letter-spacing: 1px;
        font-weight: lighter;
        font-size: 15px;
        color:  #555555;
        padding-top: 30px;
        font-weight: bolder;
        padding-bottom: 40px;
    }
    .horario p {
        font-family: 'open sans', sans-serif;
        font-weight: lighter;
        letter-spacing: 0.5px;
        font-size: 15px;
        color:  #555555;
        margin-bottom: 8px;
        padding-bottom: 15px;
    }         
    .horario div{
        flex-grow: 1;
    }
}
@media (max-width: 767px) {
    .contact{
        flex-direction: column;
        text-align: center;
    }
    .address h5 {
        font-size: 35px;

    }
}