.services {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: stretch;
    margin: 0 auto;
    max-width: 1330px;

    & > .content {
        display: flex;
        min-height: 400px;
        color: white;
        flex-direction: column;
        margin-bottom: 0px;
        align-items: center;
        background-color: rgb(44, 43, 43);

        & > * {
            flex-grow: 1; 
        }
        & > .image {
            align-self: stretch;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
        }
    }
    & > .content .info {
        padding: 50px;
        box-sizing: border-box;
        font-family: 'open sans', sans-serif;
        font-weight: lighter;
        letter-spacing: 0.5px;
        font-size: 15px;

        & > h2 {
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            padding-bottom: 30px;
            font-size: 26px;
        }
        & > p {
            line-height: 30px;
            padding-bottom: 5px;
        }
        & > ul {
            padding-left: 40px;

            & > li {
                margin: 5px 0;
            }
        }
    }

    @media (min-width: 768px) { 
        & > .content {
            flex-direction: row;
            margin-bottom: 5px;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            &:nth-child(odd) div:first-child {
                margin-right: 5px;
            }
            &:nth-child(even) div:first-child {
                margin-left: 5px;
            }
            & > .image {
                width: 55%;
                height: initial;
            }
            & > .info {
                width: 45%;
            }
            & > .content .info {
                padding: 20px 10px;
            }
        }
    }
}