.article {
    font-size: 13px;
    max-width: 950px;
    margin: 20px auto;
    padding: 8px;

    & > .content {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;

        & > * {
            flex-grow: 1; 
        }

    }
    .image {
        margin: 8px;
        overflow: hidden;
        & > img{
            width: 100%;
            max-height: 100%;
            transition: transform 300ms ease-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .info {
        background-color: white;
        padding: 50px;
        box-sizing: border-box;
        margin: 8px;
        
        & > .stars {
            padding-bottom: 15px;

            & > .star {
                cursor: pointer;
                color: #b9b9b9;
                &:hover{
                    color: rgb(211, 167, 73);
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    color: rgb(211, 167, 73);
                }
            }
        }

        & > h2 {
            color: rgb(180, 162, 116);
            text-transform: uppercase;
            padding-bottom: 24px;
            font-size: 25px;
        }

        & > p {
            color:black;
            padding-bottom: 8px;
            font-size: 16px;

            & > .b {
                color: rgb(138, 137, 137);
                font-size: 15px;

                &::after {
                    content: ':';
                }
            }
        }

        & > .prices {
            padding: 10px 0;

            & > .old-price {
                color: rgb(190, 34, 34);
                font-style: italic;
                font-weight: bolder;
                font-size: 18px;
                text-decoration: line-through;
            }

            & > .new-price {
                color:black;
                font-weight: bolder;
                font-size: 20px;
            }
        }

        & > .colors {
            text-align: left;
            padding: 10px 0;
             
            & > p {
                padding-bottom: 8px;
            }

            & > span {
                display: inline-block;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin: 0 2px;
                transition: opacity 200ms ease-out;

                &:hover {
                    opacity: 0.4;
                    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
                }
            }

            & > .gold {
                background-color: gold;
            }

            & > .silver {
                background-color: silver;
            }
        }

        & > .size {
            & > p {
                padding-bottom: 8px;
            }

            & > .sizes {
                & > a {
                    display: inline-block;
                    padding: 5px 10px;
                    background-color: grey;
                    color: white;
                    text-transform: uppercase;

                    &:hover{
                        opacity: 0.4;
                        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
    }
    .gallery {
        display: flex;
        flex-direction: column;
        & > .row {
            display: flex;
            flex-grow: 1;
            & > div {
                margin: 8px;
                overflow: hidden;
                & > img{
                    max-width: 100%;
                    max-height: 100%;
                    transition: transform 300ms ease-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }
        }
    }

    .basket {
        display: flex;
        flex-direction: column;
        
        & > * {
            flex-grow: 1;
            box-sizing: border-box;
            margin: 8px;
        }

        & > button, & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background-color: white;
            border: 1px solid grey;
            padding: 20px;

            & > * {
                padding: 0 8px;
            }
            &:hover {
                background-color: lightgray;
                color: white;
            }
        }
        & > .buy {
            background-color: black;
            color: white;

            &:hover {
                background-color: grey;
            }
        }
        & > .share {
            background-color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid grey;
            padding: 17px;

            & > img {
                width: 40px;
                height: 40px;
                padding: 0 5px;

                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }
    @include if-tablet {
        & > .content {
            & > * {
                width: calc(50% - 16px);
            }
        }
    }
}