.carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: black;

    & > img {
        position: absolute;
        visibility: hidden;
        width: 100%;
        min-width: 1200px;
        top: 0;
        right: 0;
        transition: transform 400ms ease-in-out;
    }

    & > .circles {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 10px;
        z-index: 2;

        & > span {
            margin: 10px;
            border: 2px solid white;
            border-radius: 50%;
            display: inline-block;
            width: 8px;
            height: 8px;
            cursor: pointer;

            &:hover, &.selected {
                background-color: white;
            }
        }
    }
}
.us{
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif, monospace;
    max-width: 950px;

    & > .about-us {
        background-color: white;
        text-align: left;
        padding: 50px;
        padding-bottom: 10px;
        & > .work{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 50px;

            & > .item{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: column;
                color: rgb(74, 188, 224);
                border: 1px solid rgb(74, 188, 224);
                width: 250px;
                height: 200px;
                margin: 10px;
                & > .material-icons{
                    text-align: center;
                    font-size: 50px;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                & > h1{
                    font-size: 18px;
                    text-align: center;
                    padding: 20px;
                    font-weight: lighter;
                }
            }

        }

        & > h4 {
            color: rgb(74, 188, 224);
            text-transform: uppercase;
            padding-bottom: 10px;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: lighter;
        }
        & > p {
            line-height: 30px;
            font-size: 16px;
            color: rgb(150, 149, 149);
            padding-bottom: 40px;

            &:last-child{
                padding-bottom: 0;
            
            }

        }
    }

    & > .workers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px;
        text-align: center;
        max-width: 1270px;
        margin: 30px auto;
        
        & > .item {
            background-color: white;
            border: 1px solid rgb(74, 188, 224);
            width: 100%;
            padding: 10px;
            position: relative;
            cursor: pointer;
            margin: 10px 10px;
    
            & > .img {
                position: relative;
                background-color: white;
                width: 100%;
                display: block;
    
                & > img {
                    width: 100%;
                    transition: opacity 500ms ease-out 100ms;
                }
                & > .detail {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                &:hover > .detail {
                    opacity: 1;
                }
                &:hover > .general {
                    opacity: 0;
                }
            }
    
            & > .description{
                padding: 15px;
                position: relative;
                background-color: white;
                & > h4 {
                    color: rgb(74, 188, 224);
                    font-family: Arial, Helvetica, sans-serif, monospace;
                    text-transform: uppercase;
                    padding-top: 44px;
                    padding-bottom: 6px;
                    font-size: 14px;
                    letter-spacing: 1px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                & > p {
                    color: rgb(139, 139, 139);
                    font-family: Arial, Helvetica, sans-serif, monospace;
                    font-size: 14px;
                    padding-top: 9px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        @include if-tablet {
            & > .item {
                width: calc(33% - 16px);
            }
        }
        @include if-desktop {
            & > .item {
                width: 230px;
            }
        }
    }
}